// overrides primary, secondary and dark colors
$primary: #E42701;
$secondary: #ffd7d7;
$dark: #4e5166;

// overrides offcanvas index bug
$zindex-offcanvas: 1051;

// scss-docs-start border-radius-variables
$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;